/* CSS files add styling rules to your content */

h1 {
  color: #ac4b1c;
}

.navigation {
  display:flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  background-color: #ffefa0;
  border: 1px solid #ac4b1c;
}

a {
  color: #ac4b1c;
}

a:hover {
  color: #fca652;
  text-decoration: none;
}